<div class="container">
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{errorMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class='card' *ngIf="selectedAutore">
        <div class='card-header'>
            Visualizza dettaglio
        </div>


        <div class='card-body'>
            <dl class="row">
                <dt class="col-sm-3 text-right">Nome:</dt>
                <dd class="col-sm-9">{{selectedAutore.nome}}</dd>
            </dl>

            <dl class="row">
                <dt class="col-sm-3 text-right">Cognome:</dt>
                <dd class="col-sm-9">{{selectedAutore.cognome}}</dd>
            </dl>

            <dl class="row">
                <dt class="col-sm-3 text-right">Data di Nascita:</dt>
                <dd class="col-sm-9">{{selectedAutore.dataNascita | date:'dd/MM/yyyy'}}</dd>
            </dl>

            <dl class="row">
                <dt class="col-sm-3 text-right">Nazionalità:</dt>
                <dd class="col-sm-9">{{selectedAutore.nazionalita}}</dd>
            </dl>

            <dl class="row">
                <dt class="col-sm-3 text-right">In attività:</dt>
                <dd class="col-sm-9">{{selectedAutore.inAttivita?'SI':'NO'}}</dd>
            </dl>

        </div>

        <div class='card-footer'>
            <a routerLink="/autore/search" [queryParams]="{_backFromSubFunction_: true}" class='btn btn-outline-secondary' style='width:80px'>
                <i class='fa fa-chevron-left'></i> Back
            </a>
        </div>
    </div>
</div>